*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{ 
    display: flex;
    padding-left: 300px;
    padding-top: 100px;
}
#card1{ 
    color: white;
    background-color: aqua;
    width: 450px;
    height: 600px;
    border-radius: 20px 0px 0px 20px;   
}   
.head1{ 
    padding-left: 100px;
    padding-top: 200px;
    
    
}
.graph1{ 
    margin-left: 100px;
    font-size: 25px;
}
button{ 
    margin-top: 100px;
    margin-left: 40px;
    background-color: white;
    border-radius: 30px;
    border: solid#fff;
    width: 150px;
    height: 40px;
}
.bus1{
    margin-top: 90px;
    position: absolute;
    width: 50px; 
    height: 50px;
    background-color: black;
    margin-left: 100px; 
    border-radius: 50%; 
    opacity: 0.5;
}

.icon1 img{ 
    border-radius: 90%;
    padding-bottom: 50px;
}




#card1{ 
    color: white;
    background-color: orange;
    width: 450px;
    height: 600px;
    border-radius: 20px 0px 0px 20px;   
}
    

    
.head2{ 
    padding-left: 100px;
    padding-top: 200px;
    
    
}
.graph2{ 
    margin-left: 100px;
    font-size: 20px;
    padding-top: 30px;
}
button{ 
    margin-top: 100px;
    margin-left: 40px;
    background-color: white;
    border-radius: 30px;
    border: solid#fff;
    width: 150px;
    height: 40px;
}

.card2{ 
    color: white;
    /* margin-left: 90px; */
    /* margin-top: 80px; */
    position: absolute;
    font-size: 30px;
}
.bus2{
    margin-top: 90px;
    position: absolute;
    width: 50px; 
    height: 50px;
    background-color: black;
    margin-left: 100px; 
    border-radius: 50%; 
    opacity: 0.5;
}

.icon2 img{ 
    border-radius: 90%;
    padding-bottom: 50px;
}


#card3{ 
    color: white;
    background-color: rgb(3, 67, 68);
    width: 450px;
    height: 600px;
    border-radius: 0px 20px 20px 0px;   
}   
.head3{ 
    padding-left: 100px;
    padding-top: 200px;
    
    
}
.graph3{ 
    margin-left: 100px;
    font-size: 25px;
    padding-top: 30px;
}
button{ 
    margin-top: 100px;
    margin-left: 40px;
    background-color: white;
    border-radius: 30px;
    border: solid#fff;
    width: 150px;
    height: 40px;
}
.bus3{
    margin-top: 90px;
    position: absolute;
    width: 50px; 
    height: 50px;
    background-color: black;
    margin-left: 100px; 
    border-radius: 50%; 
    opacity: 0.5;
}

.icon3 img{ 
    border-radius: 90%;
    padding-bottom: 50px;
}


#card2{ 
    color: white;
    background-color: rgb(12, 121, 148);
    width: 450px;
    height: 600px;
       
}   
.head2{ 
    padding-left: 100px;
    padding-top: 200px;
    
    
}
.graph2{ 
    padding-top: 30px;
    font-size: 25px;
}
button{ 
    margin-top: 100px;
    margin-left: 40px;
    background-color: white;
    border-radius: 30px;
    border: solid#fff;
    width: 150px;
    height: 40px;
}
.bus2{
    margin-top: 90px;
    position: absolute;
    width: 50px; 
    height: 50px;
    background-color: black;
    margin-left: 100px; 
    border-radius: 50%; 
    opacity: 0.5;
}

.icon2 img{ 
    border-radius: 90%;
    padding-bottom: 50px;
}


@media screen and (max-width:500px) {
    body{
        width: 412px;
    }
    .all{ 
        display: block;
        padding: 0;
        
    }
    .card1{
        width: 200px;
        padding-left: 70px;
    }
    .card2{
        width: 200px;
        padding-left: 70px;
    }
    .card3{
        width: 200px;
        padding-left: 70px;
    }
    #card3{ 
        border-radius: 0px 0px 0px 0px;     
    }
    #card1{ 
        border-radius: 0px 0px 0px 0px;   
    }

    
}
@media screen and (max-width:800px) {
    body{
        width: 412px;
    }
    .all{ 
        display: block;
        padding: 0;
        
    }
    

    
}



